.header {
  padding: 25px 0px 0px 50px;
}

.header-label {
  max-width: 200px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: end;
}

.hero-info {
  font-family: 'Playfair Display', serif;
  position: absolute;
  padding: 25px 150px;
  box-shadow: 0px 3px 27px #00000024;
  background-color: #fff;
  border-radius: 75px;
  left: -75px;
  top: 175px;
  z-index: 5;
}

.hero-heading {
  font-weight: bold;
  text-align: left;
  font-size: 88px;
  max-width: 550px;
}

.hero-heading-1 {
  color: #2289ff;
}

.hero-heading-2 {
  color: #186aa5;
}

.hero-desc {
  color: #303030;
  text-align: left;
  max-width: 470px;
  font-size: 20px;
  font-weight: bold;
}

.hero-image {
  width: 1400px;
  height: 930px;
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  border-radius: 50px;
  right: 45px;
  z-index: 4;
}
